
@import"variables.less";
@import"article.less";




article {

    h2{

        font-size: 30px;
        color:@main-color;
      }

     p {


        font-family: Arial, Helvetica, sans-serif;

      }
      
      a{
       
       color:@main-color;
       padding: 10px 3px 10px 3px;
       border:solid;
       border-radius:5px;
       margin-top: 3px;
       
       
      }

}