h1 {
  font-size: 30px;
  color: pink;
}
article p {
  font-family: Arial, Helvetica, sans-serif;
}
article a {
  color: pink;
  padding: 10px 3px 10px 3px;
  border: solid;
  border-radius: 5px;
  margin-top: 3px;
}
